*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --width: 400px;
    --obj_height: 200px;
}

body, html{
    width: 100%;
    height: 100%;
}

.container{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* For the Entry form field */

.entry_form{
    display: flex;
    flex-direction: column;
}

.inp_lable{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    font-weight: bold;
}

.inp_lable input{
    border-color: rgb(42, 71, 165);
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0px;
}

.inp_lable input[type="file"]{
    padding: 0px;
    border-radius: 0;
}

/* For Identity card */

.id_card{
    width: var(--width);
    height: 500px;
    border: 4px solid rgb(42, 71, 165);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.style_obj{
    width: var(--width);
    border-bottom-right-radius: 100%;
}
.obj1{
    height: var(--obj_height);
    background-color: rgb(42, 71, 165);
}
.obj2{
    position: absolute;
    height: 230px;
    background-color: rgb(230, 123, 24);
    z-index: -1;
}

.avatar{
    z-index: 10;
    margin-top: -16%;
}

.avatar img{
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: gray;
    border:3px solid dodgerblue;
}


.user_name{
    font-size: 1.2rem;
    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 15px;
}

.info{
    width: 80%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info p{
    line-height: 26px;
    font-weight: bold;
}

.info p span{
    font-weight: normal;
}

#print{
    padding: 5px 30px;
    border-radius: 6px;
    background-color: purple;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}